@{
    ViewBag.Title = "About Scribes Rugby Club Vancouver BC";
}

@section HeroContent {
    <div class="container hero-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="hero-block">
                    <h1>About Scribes Rugby</h1>
                    <h2>A brief history of Scribes Rugby Football Club</h2>

                    <div id="post-31" class="entry-post self-clear hentry p1 page publish author-edcarbery tag- y2010 m09 d29 h09" style="border: none; padding-bottom: 0px; background-image: none;">

                        <h1 class="entry-title">History</h1>

                        <div class="entry-content self-clear">

                            <p>The Scribes rugby football club was founded, in the fall of 1966, in the bar of the Newsmen’s Club of British Columbia by five players and one supporter who were all journalists. Hence the name “Scribes”. It was created to introduce the fun and spirit of rugby into what was becoming a very serious game. The club has come far both on and off the field since those days, but the intentions of the club founders have been maintained.</p>
                            <p>The Scribes RFC is a member of, and plays in the Vancouver Rugby Football Union, which is a sub-union of the British Columbia Rugby Union. The season runs from the first week in September to final playoffs in mid May. The summer season has many tournaments, and a big seven-a-side schedule. It is generally acknowledged that B.C. rugby is the best in Canada, as evidenced by the fact that we regularly place 80% of the players on all Canadian National sides (Men, Women &amp; Juniors). The Vancouver Rugby Union is arguably one of the strongest of the B.C. sub-unions.</p>
                            <p>The Scribes have traveled extensively over the years to many areas in the U.S. and Canada, including Hawaii, many times to Britain, Ireland, Belgium, Japan and New Zealand.</p>
                            <p>﻿<img class="aligncenter size-full wp-image-33 img-responsive" title="original scribes" src="http://i0.wp.com/www.scribesrfc.com/wp-content/uploads/2010/09/originalscribes1.jpg?zoom=3&amp;resize=446%2C231" alt="" original="http://i0.wp.com/www.scribesrfc.com/wp-content/uploads/2010/09/originalscribes1.jpg?resize=446%2C231" width="446" height="231" srcset="http://i0.wp.com/www.scribesrfc.com/wp-content/uploads/2010/09/originalscribes1.jpg?zoom=3&amp;resize=446%2C231" src-orig="http://i0.wp.com/www.scribesrfc.com/wp-content/uploads/2010/09/originalscribes1.jpg?resize=446%2C231" scale="3"></p>


                        </div><!-- .entry content -->


                    </div>
                </div>
            </div>
        </div>
    </div>

}

@*</section>*@



