@{
    ViewBag.Title = "Play Rugby Vancouver BC";
}

    <section id="join-scribes" class="view-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    <h1>Play rugby in Vancouver BC</h1>
                    <h2>Join Scribes Rugby Football Club</h2>

                    <p>Scribes is more than just playing rugby, it's a community forged in respect, fair-play and enjoyment. Scribes is a family and a way of life.</p>

                    <p>New members are always welcome, if you love the sport of rugby or are curious to know more there are many ways to get involved.</p>

                    <p>Like all good rugby clubs, Scribes has a healthy social aspect. From post-match beers back at our clubhouse in the heart of the vibrant Commercial Drive, to social trips to Las Vegas or Chicago, the Scribes pride themselves on having a good time.</p>

                    <p>We’re always looking for new players at every skill level.  Don’t know the difference between a ruck and a scrum? Don’t worry about it, come out and learn the great game of rugby and have a great time doing it.</p>

                    <p>If you’re interested in coming out, or have any questions, visit our Facebook page, follow our (uncensored) Tweets, or if you're old, e-mail us. Otherwise head down to the practice pitch by Trout Lake Community Center on Monday or Wednesday night and introduce yourself.</p>
                </div>
            </div>
        </div>
    </section>


