@{
    ViewBag.Title = "Mens Rugby Team Vancouver BC";
}

@section HeroContent {


    <div class="container hero-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="hero-block">
                    <h1>Play rugby in Vancouver BC</h1>
                    <h2>Join Scribes Rugby Football Club</h2>
                    <h3>Senior Mens Rugby</h3>

                    <div id="post-25" class="entry-post self-clear hentry p1 page publish author-edcarbery tag- y2010 m09 d29 h09" style="border: none; padding-bottom: 0px; background-image: none;">


                        <div class="entry-content self-clear">

                            <p>The Scribes senior men’s team plays in the Lower Mainland 3rd Division.</p>
                            <p>We train on Mondays and Wednesdays at 6.30 pm on the Trout Lake Rugby field until mid September then we switch to Trout Lake Community Center all-weather field. Club Lounge is open after Wednesday trainings for refreshments.</p>
                            <p>Games are usually on Saturday mornings/ afternoons.</p>
                            <p>Autumn Schedule 2016</p>
                            <p>17 Sept Scribes RFC v Chilliwack</p>
                            <p>24 Sept Scribes RFC v Ridge Meadows</p>
                            <p>01 Oct Squamish v Scribes RFC</p>
                            <p>08 Oct&nbsp; Thanksgiving weekend</p>
                            <p>15 Oct &nbsp;Kats v Scribes RFC</p>
                            <p>22 Oct Scribes RFC v Capilano B</p>
                            <p>29 Oct Surrey v Scribes RFC</p>
                            <p>5 Nov&nbsp; BYE weekend (Ireland v NZ in Chicago)</p>
                            <p>12 Nov Make up weekend</p>
                            <p>19 Nov Semi finals</p>
                            <p>26 Nov Finals</p>
                            <p><strong><span style="font-size: 14px;">Photographs:</span></strong></p>
                            <p><a href="https://drive.google.com/open?id=0BzmsRr1QH-cyMEl4cG55U010UHc">Club day 17th sept v Chilliwack</a></p>
                            <p><a href="https://drive.google.com/open?id=0BzmsRr1QH-cyTHlXenRpNi05Yjg">sept 24th v Ridge Meadows and womens game</a></p>
                            <p>&nbsp;</p>
                            <p style="text-align: center;"><strong>Scribes Version of Touch Rugby</strong></p>
                            <p><strong>&nbsp;</strong></p>
                            <p><strong>Post, Posting or Posted.</strong> This is the act of the Roll Ball. The ball is put between the players legs and rolled back. The ball must not be rolled back more than 1 metre.</p>
                            <p>The game is started with a <strong>kick off</strong>. The kick off may be a drop kick or a punt. The ball must be caught on the full, otherwise it must be kicked back. The kick may be taken from anywhere in the teams half.</p>
                            <p>If the kick is deemed uncatchable, the opposition may start the play by running the ball back.</p>
                            <p>After a team scores the play begins again with a kick off. The try scoring team kicks the ball.</p>
                            <p><strong>The Touch</strong> is a 2 handed touch on any part of the players body or on the ball or a combination of players body and ball.</p>
                            <p>The person who takes the role of dummy half can cross the try-line but not score.</p>
                            <p>
                                If the dummy half is touched while possessing the ball it is a turnover.<br>
                                <strong>Turnover &amp; Posting</strong>
                            </p>
                            <p>After being touched, the player touched must post the ball between their legs at the point of touch known as the mark. If the player goes past the mark, the player must return to the mark before the player can proceed with posting the ball.</p>
                            <p>The attacking team continues play until they have had <strong>6 touches</strong>. After 5 touches, the attacking team has the option to kick the ball. If they kick the ball, they must catch the ball on the full. If the attacking team gets another touch after the kick that is counted as the 6<sup>th</sup> touch.</p>
                            <p>If the ball is not caught on the full or the opposition catches the ball. The ball is then posted at the point of grounding by the opposition and the game continues.</p>
                            <p>
                                After being touched 6 times the ball is handed over to the other side.<br>
                                POSTING
                            </p>
                            <p>After touching the attacking player with the ball, all defending team members must&nbsp;retreat 5m. Any player that has not retreated 5 metres is deemed offside and must not attempt to touch an attaching player. If the touch is within 5 metres of the try line, the player does not have to go beyond that their own try line.</p>
                            <p><span style="text-decoration: underline;">Ball to Ground:</span> When the ball is dropped on the ground it is a turnover.</p>
                            <p><span style="text-decoration: underline;">Turnover:</span> When the attacking side looses the ball to the opposition.</p>
                            <p>
                                <span style="text-decoration: underline;">No control:</span> When the ball is thrown, dropped, knocked on, in a touch.<br>
                                Turnover &amp; Posting
                            </p>
                            <p>
                                <span style="text-decoration: underline;">Touch and Pass:</span> When the person who is touched then passes the ball.<br>
                                <strong>Turnover &amp; Posting</strong>
                            </p>
                            <p>
                                <span style="text-decoration: underline;">Voluntary Rolled Ball or No Touch:</span> When the player is not touched and rolls the ball between their legs.<br>
                                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Turnover &amp; Posting</strong>
                            </p>
                            <p>
                                <span style="text-decoration: underline;">More than a Meter:</span> the ball must not be rolled more than one meter.<br>
                                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Turnover &amp; Posting</strong>
                            </p>
                            <p>Once the ball is posted, the ball is live and the opposition may come up to defend the play provided they have retreated to the onside position.</p>
                            <p>If the attaching team brings the ball over the side line, there is a turnover. The game restarts with by posting the ball in line with the point of touch.</p>
                            <p>If there is no referee, the defending team makes the calls. There decision is final.</p>
                            <p>Normal rules of rugby apply.</p>
                            <p><a style="line-height: 1.5em;" title="Standings" href="http://www.esportsdesk.com/leagues/standings.cfm?leagueID=5309&amp;clientID=175&amp;link=bcru" target="_blank">Click here for the league standings</a><span style="line-height: 1.5em;">.</span></p>
                            <p>We are always looking for new players, just bring a pair of cleats and some suitable clothes and come out and introduce yourself at training.</p>
                            <p>
                                General Inquiries<br>
                                thequill(at)scribesrfc(dot)com
                            </p>
                            <p>Phone Contact List:&nbsp;<a href="http://www.scribesrfc.com/documents/phone_tree.pdf">Click here</a></p>
                            <p>You will need a password to access this…check your emails from Scribes RFC as this is included in the footer.</p>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden" value="PNCCBCQPE7GLW"> <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image"> <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" original="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" scale="0" style="display: inline;"></form>


                        </div><!-- .entry content -->


                    </div>
                </div>
            </div>
        </div>
    </div>

}

