@{
    ViewBag.Title = "Scribes Minis Rugby";
}

@section HeroContent {
    <div class="container hero-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="hero-block">
                    <div id="post-335" class="entry-post self-clear hentry p1 page publish author-edcarbery tag- y2014 m07 d08 h01" style="border: none; padding-bottom: 0px; background-image: none;">

                        <h1 class="entry-title">Scribes Minis Rugby</h1>

                        <div class="entry-content self-clear">

                            <p>&nbsp;</p>
                            <p><strong>Autumn 2016 season</strong></p>
                            <p>This season we are going to have a mix of training, club against club games and jamborees. The jamborees are listed below and as club against club games are announced, we will add it to the list.</p>
                            <p>Training sessions are at Trout Lake Rugby Field (located at the North East corner of John Hendry Park) from 10am to noon. There is parking next to the field and bleachers for supporters.</p>
                            <p><strong>Jamborees</strong></p>
                            <p>October 2nd, 2016 – Hosted at Klahanie Park with 9AM arrival</p>
                            <p>October 30th, 2016 – Hosted by United with 10AM start</p>
                            <p>November 27th, 2016 – Hosted at Burnaby Lake with 10AM</p>
                            <p><a href="http://Promotion video"><iframe style="border: none; overflow: hidden;" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fbrendan.munro.77%2Fvideos%2F10153999969756430%2F&amp;width=500" width="500" height="160" frameborder="0" scrolling="no"></iframe></a></p>
                            <p><a href="http://i0.wp.com/www.scribesrfc.com/wp-content/uploads/2014/07/Screen-Shot-2016-09-09-at-9.47.09-PM.png"><img class="alignnone wp-image-477" src="http://i0.wp.com/www.scribesrfc.com/wp-content/uploads/2014/07/Screen-Shot-2016-09-09-at-9.47.09-PM.png?resize=289%2C438" alt="screen-shot-2016-09-09-at-9-47-09-pm" original="http://i0.wp.com/www.scribesrfc.com/wp-content/uploads/2014/07/Screen-Shot-2016-09-09-at-9.47.09-PM.png?resize=289%2C438" width="289" height="438"></a></p>
                            <p><strong>Photographs:</strong></p>
                            <p><a href="https://drive.google.com/drive/folders/0BzmsRr1QH-cyfjNVQlN4cUVlZ2dYSHNYQW9QSmMtcnZYS09sUWoyM3VSREtRT29TUlVjTXM?usp=sharing">Click here</a></p>
                            <p>Mini rugby is a fun, energetic, team orientated sport for girls and boys. Scribes Mini Coaches will work with the kids in teaching them the fundamentals of rugby, which in turn develops confidence, agility, balance, hand-eye coordination, sportsmanship, and comradery.</p>
                            <p>
                                Ages 5-9 &nbsp;Rookie Rugby Training<br>
                                Ages 10+ Introduction to Contact Rugby Training<br>
                                There will be an additional separation of ages…this will be decided based on numbers.
                            </p>
                            <p>Training dates: Every Sunday 10am-12 noon.</p>
                            <p>Cost $70 yearly fees per child (this is Rugby Canada fees which include insurance, details below), $50 uniform deposit (deposit will be refunded once uniform returned at end of season) Uniform includes jersey and shorts. Socks may be purchased separately. Please bring cash for the uniform deposits.</p>
                            <p><strong>Registration</strong></p>
                            <p>Registration must be completed through the Rugby Canada website (Click here for access <a title="Rugby Canada Website" href="https://rcmembers.sportngin.com/register/form/139817834" target="_blank">Link for registration</a>). Click the ‘Need to Register? Sign Up’ link. The Scribes RFC registrar will receive a notification of the registration. If possible, please print out the registration receipt.</p>
                            <p>Training Attire: Uniform, socks, water bottle, good attitude.</p>
                            <p>Location: Trout Lake Rugby Field (John Hendry Park) Vancouver. This is the North East corner of the park, next to Grandview Highway (Click the following link for details: <a title="Trout Lake Field" href="http://goo.gl/EkfWJQ" target="_blank">http://goo.gl/EkfWJQ</a>).</p>
                            <p>Please bring the registration receipt, uniform deposit, cleats (rugby/soccer), and a water bottle to the first training session on Sunday September 14, 2014. Please note it is also an option for kids to come out to the first practice to check it out before committing to Scribes Mini Rugby Team.</p>



                        </div><!-- .entry content -->


                    </div>
                </div>
            </div>
        </div>
    </div>

}


