@{
    ViewBag.Title = "Vancouver Tag Rugby";
}

@section HeroContent {
    <div class="container hero-content">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="hero-block">
                    <div id="post-274" class="entry-post self-clear hentry p1 page publish author-edcarbery tag- y2013 m04 d24 h03" style="border: none; padding-bottom: 0px; background-image: none;">

                        <h1 class="entry-title">Vancouver Tag Rugby</h1>

                        <div class="entry-content self-clear">

                            <h1>What is Tag Rugby?</h1>
                            <p>It’s very similar to touch rugby, but add tags or flags similar to flag football. The player is tackled by taking their tag. The player then plays ball from that point and play continues.</p>
                            <p>Check out this video: <a title="Tag rugby video" href="https://www.youtube.com/watch?v=uiKkP5YB30A&amp;list=UU9FJ4CN4hCFOedGsksUmeRg&amp;index=10" target="_blank">https://www.youtube.com/watch?v=uiKkP5YB30A&amp;list=UU9FJ4CN4hCFOedGsksUmeRg&amp;index=10</a></p>
                            <h2>Tag Rugby Rules</h2>
                            <p>The basic principles of rugby apply, i.e. the ball cannot be thrown forward. There are quite a few variations and of course there is no contact allowed. The ITRA have a great website about rules so just click on that: <a title="Tag Rugby rules" href="http://www.tagrugby.com/Basic-Rules-of-Tag-Rugby.html" target="_blank">http://www.tagrugby.com/Basic-Rules-of-Tag-Rugby.html</a></p>
                            <p>Remember that it is co-ed and the girls are key to a successful team. When a guy scores a try is counts as one, but when a girl scores a try it counts for 3.</p>
                            <p>Remember Tag rugby is a strict non-contact game.</p>
                            <h3>Teams</h3>
                            <p>Members of Scribes RFC have created 6 teams and are looking for people to join in. Each squad should have 12 players. Games are 7 a-side including 3 girls on the field at all times. We encourage you to bring new people out to play rugby as this is a great opportunity to grow Scribes RFC during the summer months. If you would like to join a team or your own team, please email <a title="email Scribes" href="mailto:tagrugby@scribesrfc.com" target="_blank">tagrugby@scribesrfc.com</a></p>
                            <h3>Equipment</h3>
                            <p>Scribes RFC will provide the tags. Each team should have matching colour shirts. The games will be held on grass fields, so wear the appropriate clothing and footwear.</p>
                            <h3>Location</h3>
                            <p>Trainings sessions and games are held at Trout Lake rugby field, located on North East corner of John Hendry Park, <a title="Trout Lake Rugby Field" href="https://maps.google.ca/maps?q=49.257667,+-123.059562&amp;num=1&amp;t=h&amp;vpsrc=0&amp;gl=ca&amp;ie=UTF8&amp;ll=49.257657,-123.059573&amp;spn=0.001527,0.00284&amp;z=19&amp;iwloc=A" target="_blank">click here for the map</a>. Changing rooms are located in the Trout Lake Community Centre located on the West side of the park on Victoria Drive and 15th Ave.</p>
                            <h3>Training</h3>
                            <p>Scribes RFC will be running training sessions on Wednesday evenings at 6.30pm from&nbsp;May 6th 2015. As most of us will be new to tag rugby, we would like to get some “training” sessions and to help new people to rugby to understand the game.</p>
                            <h3>Referees</h3>
                            <p>We would like every team to have at least one referee so that all games can be covered and that the job is shared among all teams. Referees will be trained during the “training” sessions in May.</p>
                            <h3>Vancouver Tag Rugby League</h3>
                            <p>The league is expected to start up on June 5th.</p>
                            <h3>Cost</h3>
                            <p>Registration will be free. All players must have their own personal insurance.</p>
                            <p><strong>Contact us:</strong></p>
                            <p><a title="Vancouver tag rugby" href="http://www.scribesrfc.com\tagrugby">www.scribesrfc.com\tagrugby</a></p>
                            <p><a title="email Scribes" href="mailto:tagrugby@scribesrfc.com" target="_blank">tagrugby@scribesrfc.com</a></p>
                            <p><a title="Faceboog tag Rugby Vancouver" href="https://www.facebook.com/groups/tagrugbyvancouver/" target="_blank">https://www.facebook.com/groups/tagrugbyvancouver/</a></p>


                        </div><!-- .entry content -->


                    </div>
                </div>
            </div>
        </div>
    </div>
}