
@{
    ViewBag.Title = "Ladies Rugby Vancouver BC";
}

@section HeroContent {
    <div class="container hero-content">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="hero-block">
                    <h1>Women Rugby Vancouver BC</h1>
                    <h2>Join Scribes Ladies Rugby Team</h2>

                    <div class="entry-content self-clear">

                        <h2>Scribes RFC Women’s Team</h2>
                        <p>The Scribes are a rugby club located in East Vancouver. This year will be our second season having a&nbsp;women’s rugby team.</p>
                        <p>Training is on <strong>Mondays and Wednesdays at 6:30pm</strong> at Trout Lake (John Hendry) All weather located next to Trout Lake Community Centre….all welcome (no experience necessary). Bring cleats, shorts and a jersey.</p>
                        <p>We are looking for more players of all levels.</p>
                        <p>Just come to the field and introduce yourself. Showers &amp; changing facilities are available at the Trout Lake Community Center.</p>
                        <p>The Scribes Clubhouse is open on Wednesdays (above the Legion on Commercial &amp; 6th) for refreshments. This is a good chance to see the social aspect of the club.</p>
                        <p>Registration only costs $350, which includes shorts and socks. Register here: <a href="http://www.scribesrfc.com/dues">www.scribesrfc.com/dues</a></p>
                        <p>Contact <a title="email Scribes" href="mailto:thequill@scribesrfc.com" target="_blank"><strong>thequill@scribesrfc.com</strong></a> for more information.</p>
                        <p>Autumn 2016 Schedule:</p>
                        <p>17 Sept Scribes v Seattle</p>
                        <p>24 Sept&nbsp;Surrey v Scribes</p>
                        <p>1 Oct Kelowna v Scribes</p>
                        <p>08 Oct Thanksgiving weekend</p>
                        <p>15 Oct&nbsp;Scribes v Ridge Meadows</p>
                        <p>22 Oct United v Scribes</p>
                        <p>29 Oct Bye weekend</p>
                        <p>05 Nov&nbsp;Make up weekend</p>
                        <p>12 Nov 1/4 finals</p>
                        <p>19 Nov Semi finals</p>
                        <p>26 Nov&nbsp;Finals</p>
                        <p>Everyone makes the playoffs</p>
                        @*<p>We will post links to photographs of games here:</p>
                        <p><a href="https://drive.google.com/open?id=0BzmsRr1QH-cyMEl4cG55U010UHc">Club day Sept 17th v Seattle&nbsp;</a></p>
                        <p><a href="https://drive.google.com/open?id=0BzmsRr1QH-cyTHlXenRpNi05Yjg">24th Oct @ Surrey &amp; Men v Ridge</a></p>
                        <p><a href="https://drive.google.com/open?id=0BzmsRr1QH-cyckRrVlF3YkxfTVU">1 Oct @ Kelowna</a></p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p><a href="http://i0.wp.com/www.scribesrfc.com/wp-content/uploads/2014/08/DSC_3727.jpg"><img class="alignnone size-medium wp-image-481" src="http://i0.wp.com/www.scribesrfc.com/wp-content/uploads/2014/08/DSC_3727.jpg?resize=300%2C147" alt="dsc_3727" original="http://i0.wp.com/www.scribesrfc.com/wp-content/uploads/2014/08/DSC_3727.jpg?resize=300%2C147" width="300" height="147"></a></p>
                        <p>&nbsp;</p>*@


                    </div></div>
            </div>
        </div>
    </div>

}

