@{
    ViewBag.Title = "Dues";
}

@section HeroContent {
    <div class="container hero-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="hero-block">
                    <div id="post-193" class="entry-post self-clear hentry p1 page publish author-edcarbery tag- y2012 m07 d13 h03" style="border: none; padding-bottom: 0px; background-image: none;">

                        <h1 class="entry-title">Dues</h1>

                        <div class="entry-content self-clear">

                            <p>
                                Thank you for your interest in joining Scribes Rugby Football Club.<br>
                                You can now pay your membership dues online via the website.<br>
                                Full Membership Dues for the <strong>2016-2017 season are $350</strong>.
                            </p>
                            <p>Included in your dues are shorts, socks, Legion membership &amp; additional insurance as detailed below.</p>
                            <p>Here are some legal points that you may want to know.</p>
                            <p>1. The transaction currency that is to be applied</p>
                            <p>
                                Membership dues can be paid in Canadian Dollars only.<br>
                                – Kiwi Schillings, Aussie Crowns, or Irish Punts will not be accepted.
                            </p>
                            <p>2. The country where your business is located and registered</p>
                            <p>Scribes RFC is located in East Vancouver, BC, and registered as a society.</p>
                            <p>3. A description of your merchandise and/or services including pricing</p>
                            <p>For now we are only selling memberships to the Scribes RFC.</p>
                            <p>4. Full customer service contact information, including mailing address, email address and telephone number</p>
                            <p>Customers can contact thequill@scribesrfc.com for support.</p>
                            <p>5. A clear return and refund policy</p>
                            <p>If you are not happy with your membership purchase, you can apply for a refund from thequill@scribesrfc.com.</p>
                            <p>6. Export Restrictions if applicable</p>
                            <p>We do not export any products at this time.</p>
                            <p>7. Delivery Policy</p>
                            <p>Memberships will be delivered immediately on purchase via email confirmation. There are no extra shipping/handling fees.</p>
                            <p>
                                <a title="online res system" href="https://rcmembers.sportngin.com/register/form/139817834" target="_blank"><strong>Click here for the online registration system.</strong></a><br>
                                <strong>Rugby Insurance</strong><br>
                                All registered players get an&nbsp;insurance top up included in their dues:
                            </p>
                            <p><a title="rugby insurance" href="http://www.rugbycanada.ca/media/leagues/3817/graphics/2012%20Members%20Brochure%20English%20(FINAL).pdf" target="_blank">http://www.rugbycanada.ca/media/leagues/3817/graphics/2012%20Members%20Brochure%20English%20(FINAL).pdf</a></p>
                            <p>Everyone is expected to have <strong>MSP (BC’s public health system)</strong> or some sort of travel insurance that covers rugby. New residents to BC should apply for MSP as soon as they arrive here. There is a 3 month waiting period before your coverage starts, but get the process going before then. Here is the link to get more information and get the process started:</p>
                            <p><a href="http://www2.gov.bc.ca/gov/content/health/health-drug-coverage/msp/bc-residents/eligibility-and-enrolment/are-you-eligible/working-holiday-programs">http://www2.gov.bc.ca/gov/content/health/health-drug-coverage/msp/bc-residents/eligibility-and-enrolment/are-you-eligible/working-holiday-programs&nbsp;</a></p>
                            <p>When you pay your dues you are automatically signed up to <strong>BC’s excess medical plan</strong>. There is a process to make a claim, so before you do make sure you read the following page:&nbsp;<a href="http://www.scribesrfc.com/dues/bc-rugby-insurance-plan/">http://www.scribesrfc.com/dues/bc-rugby-insurance-plan/</a></p>
                            <p>&nbsp;</p>


                        </div><!-- .entry content -->


                    </div>
                </div>
            </div>
        </div>
    </div>
}