@{
    ViewBag.Title = "BC Rugby Insurance Plan";
}

@section HeroContent {
    <div class="container hero-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="hero-block">
                    <div id="post-431" class="entry-post self-clear hentry p1 page publish author-edcarbery tag- y2015 m10 d01 h09" style="border: none; padding-bottom: 0px; background-image: none;">

                        <h1 class="entry-title">BC Rugby Insurance Plan</h1>

                        <div class="entry-content self-clear">

                            <p>All team members are required to have basic medical coverage, either through BC MSP or an alternative medical insurance if ineligible for MSP.&nbsp; Rugby Canada insurance policy does not provide medical coverage if you do not have basic medical insurance.</p>
                            <p>Here is what covered in the plan: <a href="http://assets.ngin.com/attachments/document/0082/7409/Rugby_Canada_General_Members_-_AB_BC_SK_MB_NS__PEI.PDF">click here</a></p>
                            <p>There is now a BC-wide rugby insurance plan for physio etc. for paid-up players. Please see below for steps for current insurance claim process:</p>
                            <ol>
                                <li>Notify Injury to ACE Insurance (call or email brief – please see below) – this OPENS up a claim</li>
                                <li>Athlete Completes Injury Report and Insurance Waiver</li>
                                <li>Coach/Manager/Medical Staff Complete Witness Report</li>
                                <li>Submit forms to Provincial Union for Records</li>
                                <li>All treatment (physiotherapy, AT, RMT, chiropractic) need Physician referral and all original receipts must be scanned and sent</li>
                                <li>Submit to Rugby Canada forwarding to ACE Insurance</li>
                                <li>Submit to ACE for reimbursement – this processes a claim</li>
                                <li>How to notify an injury to ACE</li>
                                <li>Claim Correspondence and Inquiries:</li>
                                <li>Personal Accident Claims</li>
                                <li>Call ACE INA at: Toll Free Number: 1-877-772-7797</li>
                            </ol>
                            <p>OR</p>
                            <p>Email: canada.ahclaims@acegroup.com or Fax 416-368-0641 with the following information:</p>
                            <p>
                                Policy: Rugby Canada / BC Rugby ACE Excess Medical Policy <strong>SG10397210</strong><br>
                                Name of Insured:<br>
                                Date of Loss (accident or sickness)<br>
                                Type of Loss – brief description of accident, place of loss and name of contact.
                            </p>
                            <p><strong>Key documents in a claim:</strong></p>
                            <p>
                                Injury Report –&nbsp;Form can be found <a href="http://www.rugbycanada.ca/media/leagues/3817/graphics/File/Member%20Relations/Insurance/2014%20Rugby%20Canada%20Injury%20Report%20Form.pdf">here</a><br>
                                Witness Report –&nbsp;Form can be found <a href="http://www.rugbycanada.ca/media/leagues/3817/graphics/File/Member%20Relations/Insurance/2014%20Rugby%20Canada%20Witness%20Report%20Form.pdf">here</a><br>
                                Physician’s Referral for Treatment<br>
                                Invoice / Receipts for All Treatment<br>
                                For more general questions the can contact our broker:<br>
                                Insurance Contact List
                            </p>
                            <p>Marsh Canada Limited, 161 Bay St., Suite 1400 Toronto, ON M5J 2S4</p>
                            <p>CONTACTS</p>
                            <p>
                                Andrew Gibbs – Client Executive Matthew Warnholtz – Client Representative<br>
                                Tel: 416-868-7249 Tel: 416-868-7256<br>
                                Fax: 416-815-3676 Fax: 416-815-3665<br>
                                Handrew.Gibbs@marsh.com Matthew.Warnholtz@marsh.com
                            </p>


                        </div><!-- .entry content -->


                    </div>
                </div>
            </div>
        </div>
    </div>
}