
@{
    ViewBag.Title = "Locations";
}

@section HeroContent {


    <div class="container hero-content">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="hero-block">
                    <h1>Locations</h1>
                    <h2>Rugby fields in Vancouver BC</h2>

                </div>
            </div>
        </div>
    </div>

}

