<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--<meta name='yandex-verification' content='5af5860108959616' />
        <meta name="google-site-verification" content="_2Y-3bOhNdopdIkRZfx_BRqCzvXSDU_ZKmBFrJtPqe8" />
        <meta name="google-site-verification" content="l0SIIMi47mpZIs0fjWkOVSrZR8x5vLrCRGXA5AVcF34" />-->

    <link rel="alternate" type="application/rss+xml" href="http://www.scribesrfc.com/feed/" title="Scribes RFC Posts RSS feed" />
    <link rel="pingback" href="http://www.scribesrfc.com/xmlrpc.php" />
    <style type='text/css'>
        .no-break br {
            display: none !important;
        }
    </style>
    <!-- This site is optimized with the Yoast SEO plugin v2.3.5 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Scribes RFC | East Vancouver Rugby Club | @ViewBag.Title</title>
    <meta name="description" content="Vancouver Rugby Club - Scribes RFC is located in East Vancouver, BC. Join us! We are looking for new players of any level. All welcome." />
    <link rel="canonical" href="http://www.scribesrfc.com" />

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--<link href="Styles/bootstrap-theme.min.css" rel="stylesheet" />-->
    <link href="~/Styles/scribes-rfc.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Oswald:300,400,700"]
            }
        });
    </script>
    <link rel="stylesheet" href="~/Styles/Styles.min.css" media="screen">

    <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!--[if lte IE 6]>
        <link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
    <![endif]-->
</head>
<body class="body">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    


        @RenderBody()


    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>try { Modernizr } catch (e) { document.write('<script src="/Scripts/modernizr-2.8.3.js"><\/script>') }</script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/Scripts/jquery-2.2.3.min.js"><\/script>')</script>
    <!--//ONLY INCLUDE JQUERY UI IF USING ADVANCED ANIMATION TECHNIQUES
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
    <script>window.jQuery.ui || document.write('<script src="/Scripts/jquery-ui-1.11.4.js"><\/script>')</script>
    -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            console.log("jQuery is working");
            

        });
    </script>

    <script src="~/Scripts/Scribes.js"></script>

    <script>   
        
        
            //.mouseover(function () {
            //    console.log("mouseover...");
            //    $(this).attr("src", "~/Content/Images/Image-Grid/mini-rugby-vibant-360.png");
            //})
            //.mouseout(function () {
            //    $(this).attr("src", "~/Content/Images/Image-Grid/mini-rugby-greyscale-720.png");
            //});
    </script>

</body>

</html>